:root {
    --color-second: #E7E9FC;
    --color-dark-bg: #2E2F42;
    --color-brand: #4D5AE5;
    --color-light: #fff;
    --color-light-bg: #F4F4FD;
    --color-button-bg: #404BBF;
    --color-primary: #434455;
}

.header {
    border-bottom: 1px solid #E7E9FC;

}

.container {

    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 76px;
}

.header-link {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    gap: 40px;

}

.header-menu {
    display: flex;
}

/* logo */
.logo-web {
    color: var(--color-brand);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
}

.logo-dark {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-dark-bg);
}

.logo-light {
    color: var(--color-light-bg);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* header */
.nav-link {
    text-decoration: none;
    color: var(--color-dark-bg);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-button-bg);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

}

.address-link {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-menu {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;

}

.address-menu:hover,
.address-menu:focus {
    color: var(--color-button-bg);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
}

/* hero */
.hero-section {
    background: var(--color-dark-bg);
    padding-top: 188px;
    padding-bottom: 188px;

}

.hero-place {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.hero-title {
    color: var(--color-light);
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        text-align: center;
        margin-bottom: 64px;

}

.hero-button {
    color: var(--color-light);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--color-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
}

.hero-button:hover,
.hero-button:focus {
    color: var(--color-light);
    font-weight: 500;
    background: var(--color-button-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* features */
.features-section {
    padding-bottom: 120px;
    padding-top: 120px;
}

.features-list {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    gap: 24px;
}

.features-record {
    width: calc((100% - 72px)/ 4);

}

.features-title {
    color: var(--color-dark-bg);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

/* what are we doing */
.description-section {
    padding-bottom: 120px;
}
.secondary-title {
    color: var(--color-dark-bg);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.description-list {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    gap: 24px;
}

/* team */
.section-team {
    background: var(--color-light-bg);
    padding: 120px 0;
}
.team-title {
    color: var(--color-dark-bg);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    
}

.team-link {
    display: flex;
    gap: 24px;
    margin: 0;
    padding-left: 0;

}

.team-record {
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;


}

.team-names {
    color: var(--color-dark-bg);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-text {
    margin: 32px 0;
}

/* footer */
.footer-record {
    width: 264px;
    margin-left: 0px;
}

.footer-back {
    background: var(--color-dark-bg);
    padding: 120px 0;

}

.footer-text {
    color: var(--color-second);
    margin-top: 16px;
}
/* portfolio */
/* filter */

.nav-portfolio {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.nav-button {
    display: flex;
    gap: 24px;

}

.filter-button {
    color: var(--color-brand);
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.04em;
    background: var(--color-light-bg);
    border: 1px solid var(--color-second);
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 24px;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--color-light);
    font-weight: 500;
    background: var(--color-button-bg);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.09), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 1px solid var(--color-light-bg);
}

.filter-title {
    color: var(--color-dark-bg);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 24px;
    padding: 0 0 0 0;
    margin: 0;
    row-gap: 48px;
}
.card-text {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border: solid #E7E9FC;
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

